/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: linear-gradient(to right, #9c4a4a, #a33434, #bb1616);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.commentBox {
  position: relative;
  top: -460px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  transition: top .2s;
  width: 370px;
  height: 420px;
  background: linear-gradient(to right, #ffffff, #a7a7a7, #5f5f5f);
  border: 3px solid black;
  border-radius: 5px;
  color: #222;
}

.commentList {
  height: 280;
  overflow-y: auto;
  color: #222;
}

.commentBox:hover {
  top: 0px;
}

.down {
  border: 3px solid black;
  width: 90px;
  margin: 30px auto;
  text-align: center;
  background: white;
  border-radius: 5px;
}

.taskGenerator {
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

.taskGenerator p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: #fff;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 400px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown+.form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.btn {
  margin-left: 13%;
  background: #222;
  height: 36px;
  min-width: 50px;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
}

.task_div {
  margin-left: 40%;
  display: grid;
  grid-template-columns: 395px 50px;
}